#my-board {
	display: flex;
	flex-wrap: wrap;
}
html {
	height: 100%;
}
body {
	font-family: sans-serif;
	background-color: rgb(210, 144, 52);
	min-height: 100%;
}
footer {
	position: absolute;
	bottom: 0px;
}

.createListContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.addTaskContainer {
	display: none;
	flex-direction: column;
	height: auto;
	/* margin-top: 2%; */
	/* background: #fff; */
	border: 1px solid;
	border-radius: 3px;
	padding: 1%;
}
.parentContainer {
	background-color: #ebecf0;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	background-color: hsla(0, 0%, 100%, 0.24);
	padding: 5px;
	height: fit-content;
	margin: 5px;
}
.title {
	flex-grow: 1;
	overflow: hidden;
	word-wrap: break-word;
}
.list {
	/* background-color: #ebecf0; */
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	height: auto;
	list-style-type: none;
}
.task {
	display: flex;
	align-items: center;
	padding: 5px;
	width: 100%;
	background: #fff;
	border-radius: 3px;
	margin-bottom: 2%;
}
.listAdderContainer {
	display: none;
	flex-direction: column;
	height: auto;
}
.headerContainer {
	display: flex;
	padding: 0% 2%;
	font-weight: bold;
	text-align: start;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2%;
}
.createListContainer:hover {
	background-color: rgb(0, 174, 204, 0.5);
}
.task:hover {
	background-color: #f5f5f0;
}
.glyphicon {
	top: 0px;
	margin: 0% 2%;
}
.btn {
	padding: 2px 8px;
	border: 0;
	/* margin: 1% 0; */
}
.btnContainer {
	margin-top: 2%;
	padding: 0% 0% 1% 1%;
}
input {
	border-radius: 3px;
}
/* .button:hover {
    background-color: #f5f5f0;
  } */
